.parallax 
{
    background-image: url('../imagem/hokkaido.jpg'); 
    min-height: 50px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}